<div class="create-form-wrapper">
  <h2>Segmento para crear nueva habilidad</h2>
  <form class="create-form" (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <legend>Por favor llena los campos según corresponda, todos los campos son obligatorios</legend>
    <label for="hsPercent">Valor de conocimiento:</label>
    <input id="hsPercent" type="text" name="hsPercent"
      placeholder="Ingresa el valor de conocimiento con un número del 1 al 100" [(ngModel)]="hsPercent" required>
    <label for="hsTitle">Nombre de la habilidad:</label>
    <input id="hsTitle" type="text" name="hsTitle" placeholder="Ingresa el nombre de la habilidad" [(ngModel)]="hsTitle"
      required>
    <input type="hidden" [(ngModel)]="hsImage" [ngModelOptions]="{standalone: true}">
    <input type="submit" value="Añadir habilidad">
  </form>
</div>
