.header-container {
  width: 100%;
  align-items: center;
  background-color: #333;
  white-space: nowrap;
}

.header-item {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.second-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.second-wrapper>* {
  margin: 1rem auto;
}

.header-item button {
  padding: .5rem 1.5rem;
  background-color: #666;
}

.header-item button:hover {
  background-color: #888
}

/*MQ*/
@media screen and (min-width: 576px) {
  .header-item {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .second-wrapper {
    margin: 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .second-wrapper > * {
    margin: 0 .25rem;
  }
}
