<div class="edit-form-wrapper" *ngIf="experience">
  <h2>Segmento para editar la experiencia seleccionada</h2>
  <form class="edit-form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    <legend>Por favor edita los campos según corresponda, todos los campos son obligatorios</legend>
    <label for="expName">Nombre del puesto:</label>
    <input id="expName" type="text" name="expName" placeholder="Ingresa el nombre del puesto"
      [(ngModel)]="experience.expName" required>
    <label for="expSupplier">Nombre de la empresa / cliente:</label>
    <input id="expSupplier" type="text" name="expSupplier" placeholder="Ingresa el nombre del empleador"
      [(ngModel)]="experience.expSupplier" required>
    <label for="expReference">Link a la web de la empresa / cliente:</label>
    <input id="expReference" type="text" name="expReference"
      placeholder="Ingresa el link de la página web de la empresa" [(ngModel)]="experience.expReference" required>
    <label id="expImage" for="expImage">URL con el logo de la empresa / cliente:</label>
    <input type="text" name="expImage" placeholder="Ingresa URL con logo de la empresa / cliente"
      [(ngModel)]="experience.expImage" required>
    <label for="expDescription">Descripción del puesto:</label>
    <textarea id="expDescription" type="textarea" name="expDescription"
      placeholder="Ingresa una breve descripción del puesto" [(ngModel)]="experience.expDescription"
      required></textarea>
    <input type="submit" value="Editar experiencia">
  </form>
</div>
