.edit-form-wrapper {
  margin: 10% auto;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.edit-form-wrapper h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.edit-form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.edit-form > * {
  margin: 0 auto;
  padding: .5rem;
  display: block;
  width: 90%;
  min-width: 10rem;
}

.edit-form textarea {
  resize: none;
}

.edit-form legend {
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.edit-form label,
.edit-form input,
.edit-form textarea {
  font-size: 1rem;
}

.edit-form input,
.edit-form textarea {
  border: 3px solid #43636f;
}

.edit-form label {
  margin-top: 1rem;
}

.edit-form textarea {
  height: 30vh;
}

.edit-form input[type="submit"] {
  margin-top: 1rem;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.edit-form *::placeholder {
  color: #000;
}
