.experience-container {
  padding-bottom: 3.5rem;
}

.experience-container h2 {
  margin-top: 3rem;
}

.experience-item-wrapper h3 {
  margin: 3.5rem 0 0 1rem;
}

.experience-item {
  display: flex;
}

.experience-item figure {
  padding: 1rem 3rem;
}

.experience-item img {
  height: 10rem;
  width: 10rem;
  opacity: .75;
}

.experience-item p, .experience-item h4, .experience-item a {
  margin: 3rem 0 1rem 3rem;
}

.experience-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-wrapper {
  white-space: nowrap;
}

.experience-menu button {
  padding: .5rem;
  margin: 0 .5rem;
  border-radius: 50%;

}

.experience-menu button:hover {
  cursor: pointer;
}
