<section class="experience-container">
  <h2>Experiencia Profesional / Laboral</h2>
  <div class="experience-item-wrapper" *ngFor="let Experience of experience">

    <div>
      <h3>{{Experience.expSupplier}}</h3>
    </div>
    <div class="experience-item">

      <div>
        <figure>
          <img src={{Experience.expImage}}>
        </figure>
      </div>

      <div>
        <h4>{{Experience.expName}}</h4>
        <div>
          <p>{{Experience.expDescription}}</p>
          <a href={{Experience.expReference}} target="_blank">{{Experience.expReference}}</a>
        </div>
      </div>

    </div>

  </div>
</section>
