<section class="experience-container">
  <h2>Experiencia Profesional / Laboral</h2>
  <div class="experience-item-wrapper" *ngFor="let Experience of experience">

    <div>
      <h3>{{Experience.expSupplier}}</h3>
    </div>
    <div class="experience-item">

      <div>
        <figure>
          <img src={{Experience.expImage}}>
        </figure>
      </div>

      <div>
        <div class="experience-menu">
          <div>
            <h4>{{Experience.expName}}</h4>
          </div>
          <div *ngIf="isLogged" class="btn-wrapper">
            <button routerLink="experience/update/{{Experience.id}}" type="button"><i class="bi bi-pencil"></i></button>
            <button (click)="(delete(Experience.id))" type="button"><i class="bi bi-trash3"></i></button>
          </div>
        </div>
        <div>
          <p>{{Experience.expDescription}}</p>
          <a href={{Experience.expReference}} target="_blank">{{Experience.expReference}}</a>
        </div>
      </div>

    </div>

  </div>
</section>
