.experience-container {
  padding-bottom: 3.5rem;
  margin: auto;
  width: 80%;
}

.experience-container h2 {
  margin-top: 3rem;
}

.experience-item-wrapper h3 {
  margin-top: 3.5rem;
  font-size: 125%;
  text-align: center;
}

.experience-item {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}

.experience-item img {
  width: 100%;
  min-height: 7rem;
  min-width: 7rem;
  max-height: 10rem;
  max-width: 10rem;
  opacity: .75;
}

.btn-wrapper {
  white-space: nowrap;
}

.create-btn button {
  padding: .25rem;
  white-space: nowrap;
}

.btn-wrapper button:nth-child(1) {
  color: #eeeeee;
  background-color: #08cb08;
}

.btn-wrapper button:nth-child(2) {
  color: #eeeeee;
  background-color: #b70303;
}

.btn-wrapper button:nth-child(1):hover {
  color: #fefefe;
  background-color: #08de08;
}

.btn-wrapper button:nth-child(2):hover {
  color: #fefefe;
  background-color: #db0505;
}

.experience-menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

.experience-menu button {
  height: 2.5rem;
  width: 4rem;
  border-radius: 20%;
  border: thick solid #fefefe;
}

.experience-menu button:hover {
  cursor: pointer;
}

.experience-item h4 {
  text-align: left;
}

.experience-item p,  .experience-item a {
  margin-top: 1rem;
}

/*MQ*/
@media screen and (min-width: 576px) {
  .experience-item h4 {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .experience-container {
    width: 100%;
  }

  .experience-item-wrapper h3 {
    margin: 3.5rem 0 0 1rem;
    font-size: 125%;
    text-align: left;
  }

  .experience-item {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
  }

  .experience-item figure {
    padding: 1rem 3rem;
  }

  .experience-item p, .experience-item h4, .experience-item a {
    margin: 2rem 0 1rem 5rem;
  }

  .experience-item h4 {
    margin-bottom: 0;
    text-align: left;
  }
}
