<h2>Hard & Soft Skills</h2>
<h3>Habilidades duras</h3>
<section class="hard-wrapper">
  <div class="hard-soft-item">
    <circle-progress
      [percent]="95"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/html5.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/css.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="80"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/javascript.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="65"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/bootstrap.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="70"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/react.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="65"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
      [imageSrc]="'../../../assets/node.svg'"
      [showImage]="true"
      [imageHeight]="85"
      [imageWidth]="85"
    ></circle-progress>
  </div>
</section>
<h3>Habilidades blandas</h3>
<section class="soft-wrapper">
  <div class="hard-soft-item">
    <circle-progress
      [percent]="70"
      [radius]="80"
      [title]="'Trabajo en equipo'"
      [showUnits]="false"
      [titleFontSize]="'1rem'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="90"
      [radius]="80"
      [title]="'Comunicación acertiva'"
      [titleFontSize]="'0.75rem'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="hard-soft-item">
    <circle-progress
      [percent]="79"
      [radius]="80"
      [title]="'Inglés'"
      [titleFontSize]="'2rem'"
      [showUnits]="false"
      [subtitle]="'B2'"
      [subtitleFontSize]="'1.5rem'"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</section>
