.education-container h2 {
  margin: 2rem 0 2rem 2rem;
}

.education-items-wrapper {
  margin-top: 2rem;
}

.education-menu {
  display: flex;
  align-items: baseline;
}

.btn-wrapper {
  white-space: nowrap;
}

.education-menu button {
  padding: .5rem;
  margin: 0 .5rem;
  border-radius: 50%;
}

.education-menu button:hover {
  cursor: pointer;
}

.education-item figure {
  margin: 2rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.education-item img {
  height: 5rem;
  width: 5rem;
}

.education-item figcaption {
  margin-top: .25rem;
  font-weight: bold;
  text-align: center;
}
