<section class="education-container">
  <h2>Educación</h2>
  <div class="education-items-wrapper">
    <div class="education-item">
      <div>
        <figure>
          <img src="../../../assets/unlam.jpg" alt="Logo de ">
          <figcaption>UnLaM</figcaption>
        </figure>
      </div>
      <div>
        <h3>Oratoria - Escuela de capacitación y negocios</h3>
        <h4>Universidad Nacional de La Matanza</h4>
        <p>Expedición: Abril/2022</p>
        <p>
          La Escuela de Capacitación y Negocios, de la Universidad Nacional de La Matanza se encuentra emplazada dentro de la estructura organizacional de la Secretaría de Extensión Universitaria. Tiene entre sus funciones la de brindar servicios de capacitación dirigido tanto a Organizaciones Públicas como a Empresas. Nuestros cursos, Seminarios, Jornadas, y Programas se brindan tanto en la “modalidad abierta”, dirigida al púbico en general, como la “modalidad a in Company” con programas desarrollos a medida para las empresas.
        </p>
      </div>
    </div>

    <div class="education-item">
      <div>
        <figure>
          <img src="../../../assets/numpi.jpg" alt="Logo de Numpi - Cursos online">
          <figcaption>Numpi</figcaption>
        </figure>
      </div>
      <div>
        <h3>Javascript desde cero con Node JS</h3>
        <h4>Numpi | Cursos online</h4>
        <p>Expedición: Enero/2022</p>
        <p>Numpi Cursos nació para ayudarte a desarrollar las habilidades más demandadas por el mercado laboral para que potencies tu carrera profesional.</p>
      </div>
    </div>

    <div class="education-item">
      <div>
        <figure>
          <img src="../../../assets/mumuki.jpg" alt="Logo de Mumuki">
          <figcaption>Mumuki</figcaption>
        </figure>
      </div>
      <div>
        <h3>Argentina Programa - #SéProgramar</h3>
        <h4>Mumuki</h4>
        <p>Expedición: Diciembre/2021</p>
        <p>
          Mumuki es una plataforma gratuita para aprender programación, una iniciativa de cuatro desarrolladores argentinos que crearon esta herramienta con contenido y software libre, y en español, que es utilizada por universidades y secundarios, y que fue reconocida en la última edición de los premios Innovar del Ministerio de Ciencia y Tecnología.
        </p>
      </div>
    </div>

    <div class="education-item">
      <div>
        <figure>
          <img src="../../../assets/ingnacio-arieta.png" alt="Logo de la E.M.M. N°25">
          <figcaption>E.D.M. N° 25</figcaption>
        </figure>
      </div>
      <div>
        <h3>Educación Secundaria - Completa</h3>
        <h4>E.D.M. N° 25 "Dr. Ignacio Arieta"</h4>
        <p>Expedición: Octubre/2014</p>
        <p>Escuela secundaria Nº25 Dr. Ignacio Arieta de Isidro Casanova es un centro educativo del sector público estatal de ámbito urbano y con estado activo.</p>
      </div>
    </div>
  </div>
</section>
