.education-container {
  margin: 1rem auto;
  width: 80%;
}

.education-items-wrapper {
  margin-top: 1rem;
}

.education-menu {
  display: flex;
  align-items: baseline;
}

.btn-wrapper {
  white-space: nowrap;
}

.btn-wrapper button:nth-child(1) {
  color: #eeeeee;
  background-color: #08cb08;
}

.btn-wrapper button:nth-child(2) {
  color: #eeeeee;
  background-color: #b70303;
}

.btn-wrapper button:nth-child(1):hover {
  color: #fefefe;
  background-color: #08de08;
}

.btn-wrapper button:nth-child(2):hover {
  color: #fefefe;
  background-color: #db0505;
}

.education-menu button {
  height: 2.5rem;
  width: 4rem;
  border-radius: 20%;
  border: thick solid #fefefe;
}

.education-menu button:hover {
  cursor: pointer;
}

.education-item figure {
  margin: 2rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.education-item img {
  height: 5rem;
  width: 5rem;
}

.education-item figcaption {
  margin-top: .25rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .education-container {
    width: 100%;
  }

  .education-container h2 {
    margin: 2rem 0 2rem 2rem;
  }
}
