<article class="about-description-wrapper">
  <h2>Full Stack Developer Jr.</h2>
  <div>
    <p>Soy desarrollor web Full-Stack Jr. Resido en la ciudad de Buenos Aires, Argentina. Soy autodidacta, llevo algún tiempo estudiando diferentes tecnologías y espero graduarme de la segunda etapa #YoProgramo de Argentina Programa. </p>
    <p>Mi interés principal es lograr maestría en el desarrollo web y en el desarrollo de aplicaciones móviles; durante este transcurso espero también crecer personal y profesionalmente. </p>
    <p>Actualmente me encuentro en la búsqueda de mi primero empleo IT donde pueda dar inicio a mi desarrollo profesional en el rubro haciendo despliegue del abanico tecnológico en el que he estado construyendo un sólido conocimiento estos últimos años.</p>
  </div>
</article>
