<div class="projects-container">
  <h2>Proyectos personales / académicos</h2>
  <section class="projects-wrapper">
    <div class="project-item">
      <h3>Weather App</h3>
      <p>Desarrolle una web del pronóstico del tiempo consumiendo datos de <a href="https://openweathermap.org/"
          target="_blank">Open Weather</a> para estar familiarizado con React.</p>
      <p>Lanzada en: Octubre/2021</p>
      <div class="project-link-wrapper"><a href="https://weather-clime.netlify.app/" target="_blank">Link a la web</a>
      </div>
    </div>
    <div class="project-item">
      <h3>SPA Music</h3>
      <p>Desarrollé una aplicación web musical Single Page Application creando funciones para cada sección retornando la
        información y renderizandola dependiendo de la ruta en la que se encontrara utilizando solo JavaScript Vanilla.
      </p>
      <p>Lanzada en: Agosto/2021</p>
      <div class="project-link-wrapper"><a href="https://nahuelvautier.github.io/SPA-Music/" target="_blank">Link a la
          web</a></div>
    </div>
    <div class="project-item">
      <h3>Clapperboardata</h3>
      <p>Desarrollé una aplicación web a modo de práctica que utilizando la API de <a href="https://www.omdbapi.com/"
          target="_blank">OMDBApi</a>. Decidí hacer esta aplicación completamente en inglés porque así traía los datos
        la
        API con la que fue creada, por lo tanto se deberán ingresar los nombres de los films en el idioma predeterminado
      </p>
      <p>Lanzada en: Junio/2021</p>
      <div class="project-link-wrapper"><a href="https://nahuelvautier.github.io/clapperboardata/" target="_blank">Link
          a
          la web</a></div>
    </div>
    <div class="project-item">
      <h3>Nahuel Vautier - Landing Page</h3>
      <p>Desarrollé mi página web personal en la cual se me puede contactar de diferentes maneras. Esta página cuenta
        con
        diferentes secciones, una de ellas mi portfolio, donde estaré alojando diferentes proyectos.</p>
      <p>Lanzada en: Abril/2021</p>
      <div class="project-link-wrapper"><a href="https://nahuelvautier.netlify.app/" target="_blank">Link a la web</a>
      </div>
    </div>
  </section>
</div>
