h2 {
  margin: 2rem;
}

.project-item h3 {
  margin-bottom: 1rem;
}

.projects-wrapper {
  padding-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.project-item {
  padding: 1rem;
}

.project-item p {
  margin: .5rem 0 0 1rem;
}

.project-link-wrapper {
  margin-top: 1rem;
}

.project-link-wrapper a {
  margin-left: 1rem;
}
