<div class="projects-container    container">
  <div>
    <h2>Proyectos personales / académicos</h2>
  </div>
  <div *ngIf="isLogged" class="create-btn    col-1    col-sm-2">
    <button routerLink="projects/create" type="button">Añadir proyecto</button>
  </div>
  <section class="projects-wrapper" *ngFor="let Project of project">
    <div class="project-item">

      <div class="row">

        <div class="col-8    col-md-11    col-lg-10">
          <h3>{{Project.proName}}</h3>
        </div>

        <div *ngIf="isLogged" class="btn-wrapper    col-4     col-md-1    col-lg-2">
          <button routerLink="projects/update/{{Project.id}}" type="button"><i class="bi bi-pencil"></i></button>
          <button (click)="(delete(Project.id))" type="button"><i class="bi bi-trash3"></i></button>
        </div>

      </div>

      <div>
        <p>{{Project.proDescription}}</p>
        <p>Lanzada en: {{Project.proExpedition}}</p>
      </div>

      <div class="project-link-wrapper">
        <a *ngIf="Project.proApiUsed" href="{{Project.proApiUsed}}" target="_blank">API utilizada</a>
        <a href="{{Project.proHref}}" target="_blank">Link a la web</a>
      </div>
    </div>
  </section>
</div>
