<section class="about-container">
  <div class="about-item">
    <figure class="profile-figure">
      <img class="profile-photo-img" src="{{Person.personPicture}}" alt="Foto de perfil de Nahuel Vautier">
      <figcaption>
        <h1>{{Person.personName}}</h1>
      </figcaption>
    </figure>
  </div>
  <div class="about-item">
    <article class="about-description-wrapper">

      <div class="first-container    container    row">

        <div class="col-10    col-sm-11">
          <h2>{{Person.personTitle}}</h2>
        </div>
        <div *ngIf="isLogged" class="btn-wrapper    col-2    col-sm-1">
          <button routerLink="persons/update/{{Person.id}}" type="button"><i class="bi bi-pencil"></i></button>
        </div>

      </div>

      <div>
        <p>{{Person.personDescription}}</p>
      </div>

    </article>
  </div>
</section>
