.about-container {
  padding-bottom: 2rem;
  margin: auto;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.profile-figure {
  margin: -3rem 0 0 -4.5rem;
}

.about-container h1 {
  font-size: 180%;
}

.profile-photo-img {
  height: 7.5rem;
  width: 7.5rem;
  min-height: 5rem;
  min-width: 5rem;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 50%;
}

.first-container {
  margin: 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btn-wrapper button:nth-child(1) {
  color: #eeeeee;
  background-color: #08cb08;
}

.btn-wrapper button:nth-child(1):hover {
  color: #fefefe;
  background-color: #08de08;
}

.btn-wrapper button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: thick solid #fefefe;
}

.about-description-wrapper p {
  padding: 0 1rem;
}



/*MQ*/
@media screen and (min-width: 360px) {
  .profile-figure {
    margin-left: -8rem;
  }
}

@media screen and (min-width: 420px) {
  .profile-figure {
    margin-left: -12.5rem;
  }
}

@media screen and (min-width: 576px) {
  .profile-figure {
    margin-left: -15rem;
  }

  .profile-figure figcaption {
    white-space: nowrap;
  }
}

@media screen and (min-width: 640px) {
  .profile-figure {
    margin-left: -18rem;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    width: 90%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .first-container {
    margin: 8.5rem 0 2rem 0;
  }

  .profile-figure {
    margin: -14rem 0 -3rem 0;
  }

  .profile-photo-img {
    height: 10rem;
    width: 10rem;
  }
}
