<section class="about-container">
  <div class="about-item">
    <figure class="profile-figure">
      <img class="profile-photo-img" src="../../../assets/nahuel-vautier.jpg" alt="Foto de perfil de Nahuel Vautier">
      <figcaption>
        <h1>{{Person.name}} {{Person.lastName}}</h1>
      </figcaption>
    </figure>
  </div>
  <div class="about-item">
    <article class="about-description-wrapper">
      <h2>Full Stack Developer Jr.</h2>
      <div>
        <p>
          Soy desarrollor web Full-Stack Jr. Resido en la ciudad de Buenos Aires, Argentina. Soy autodidacta, llevo
          algún
          tiempo estudiando diferentes tecnologías y espero graduarme en la segunda etapa #YoProgramo de Argentina
          Programa.
          Mi interés principal es lograr maestría en el desarrollo web y en el desarrollo de aplicaciones móviles;
          durante
          este transcurso espero también crecer personal y profesionalmente. Actualmente me encuentro en la búsqueda de
          mi primero
          empleo IT donde pueda dar inicio a mi desarrollo
          profesional en el rubro haciendo despliegue del abanico tecnológico en el que he estado construyendo un sólido
          conocimiento estos últimos años.
        </p>
      </div>
    </article>
  </div>
</section>
