.about-container {
  padding-bottom: 2rem;
  margin: auto;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.profile-figure {
  margin-top: -3.5rem;
}

.profile-figure figcaption {
  margin-top: -.25rem;
}

.about-container h1 {
  font-size: 180%;
}

.profile-photo-img {
  height: 7.5rem;
  width: 7.5rem;
  min-height: 5rem;
  min-width: 5rem;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 50%;
}

.about-description-wrapper h2 {
  margin: 2rem 0;
}

.about-description-wrapper p {
  padding: 0 1rem;
}

/*MQ*/
@media screen and (min-width: 576px) {
  .profile-figure figcaption {
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    width: 90%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .about-description-wrapper h2 {
    margin-top: 8.5rem;
  }

  .about-description-wrapper h2, .about-description-wrapper p {
    margin-left: 1.5rem;
  }

  .profile-figure {
    margin-top: -5rem;
  }

  .profile-photo-img {
    height: 10rem;
    width: 10rem;
  }
}
